html
  head
    title="Toffes Gästbok"
    link(rel="stylesheet" href="css/stylesheet.css")
    script(src="javascript/script.js")
  body
    form(action="/loggingin" method="POST" id="loginForm")
        div(id="labels")
            label(class="label") Användarnamn:
            br
            label(class="label") Lösenord:
        div(id="inputs")
            input(type="text" name="username" id="usrName" placeholder="Ditt användarnamn")
            br
            input(type="text" name="password" id="usrPassword" placeholder="Ditt lösenord")
        input(type="submit" value="Logga in" id="loginKnapp")
    div(id="register")
        a(href="/register") Inget konto? Registrera här!