html
  head
    title="Toffes Gästbok"
    link(rel="stylesheet" href="css/stylesheet.css")
    script(src="javascript/script.js")
  body
    form(action="/registered" method="POST" id="registerForm")
        div(id="labels")
            label(class="label") Användarnamn:
            br
            label(class="label") Lösenord:
        div(id="inputs")
            input(type="text" name="regUsername" id="usrName" placeholder="Ditt användarnamn")
            br
            input(type="text" name="regPassword" id="usrPassword" placeholder="Ditt lösenord")
        input(type="submit" value="Registrera" id="registerKnapp")
    div(id="register")
        a(href="/register") Inget konto? Registrera här!